@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #555;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #555;
}

body > div > div {
  max-height: 900px;
}

@media (min-width: 1024px) {
  body > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  body > div > div {
    max-height: 800px;
    max-width: 1300px;
  }
}
